.result-section {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
  user-select: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url(https://kartinkin.net/uploads/posts/2021-07/thumbs/1626158538_53-kartinkin-com-p-sero-sinii-fon-krasivo-56.jpg);
  background-repeat: no-repeat;
}

.result-container {
  width: 100%;
  margin: 0 auto;
  overflow: auto;
  max-width: 500px;
  border-radius: 5px;
  background-color: white;
  margin-top: 20px;
  padding: 20px;
}

.result-title {
  font-weight: 400;
  color: black;
  text-align: center;
  margin-bottom: 40px;
  font-size: 24px;
}

.result-correct-num {
  font-size: 18px;
  font-weight: 400;
  color: #4caf4fbf;
  text-transform: uppercase;
}

.result-line {
  border: none;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.357);
  margin: 30px;
}

.result-wrong-num {
  font-size: 18px;
  font-weight: 400;
  color: #f50056c7;
  text-transform: uppercase;
}

.result-word-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}

.result-word-play {
  border: 0;
  cursor: pointer;
  background-color: transparent;
  padding: 8px;
}

.result-word-play span {
  pointer-events: none;
}

.result-word-play svg {
  pointer-events: none;
}

.result-word-play-label {
  text-align: center;
  width: 100%;
  display: flex;
}

.result-word-play-icon {
  display: inline-block;
  text-align: center;
  fill: rgba(0, 0, 0, 0.54);
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.result-word {
  font-weight: bold;
  color: black;
}

.result-word-dash {
  color: black;
}

.result-word-translate {
  color: black;
}

.result-button-container {
  -webkit-font-smoothing: antialiased;
  font-size: 0.875rem;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  color: white;
  box-sizing: inherit;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.result-btn {
  cursor: pointer;
  color: white;
  margin: 20px 10px;
  padding: 10px 20px;
  text-decoration: none;
  background-color: #5c70b1e7;
  border-radius: 5px;
}
