:root {
  --color-accent: #2623e9;
  --color-accent-dark: #070aa5;
  --color-accent-light: #eeb737;
  --color-light: #fff;
  --color-dark: #020303;
  --color-wrong: #d80734;
  --color-gray: #c5c2c2;
  --color-right-answer: #4caf4f;
  --color-wrong-answer: #ce084d;
  --color-bg-sprint-card: #5c70b1e7;
  --color-dark-gray: #8c8c8c;
}

$color-light: var(--color-light);
$color-dark: var(--color-dark);
$color-accent: var(--color-accent);
$color-accent-light: var(--color-accent-light);
$color-accent-dark: var(--color-accent-dark);
$color-wrong: var(--color-wrong);
$color-gray: var(--color-gray);
$color-right-answer: var(--color-right-answer);
$color-wrong-answer: var(--color-wrong-answer);
$color-bg-sprint-card: var(--color-bg-sprint-card);
$color-dark-gray: var(--color-dark-gray);

$ffam-base: 'Roboto', sans-serif;
$ffam-accent: 'Forum', serif;

$bp-xlarge: 1860px;
$transition-time: 0.5s;
